<% add_decidim_page_title(t("profile", scope: "layouts.decidim.user_menu")) %>
<% content_for(:subtitle) { t("profile", scope: "layouts.decidim.user_menu") } %>

<div class="row">
  <%= decidim_form_for(@account, url: account_path, method: :put, html: { autocomplete: "off" }) do |f| %>
    <input autocomplete="off" name="hidden" type="password" style="display:none;">
    <div class="columns large-4">
      <%= f.upload :avatar %>
    </div>

    <div class="columns large-8 end">
      <%= form_required_explanation %>

      <% if current_user.authorized_with_inhabitant_card? %>
        <%= f.text_field :inhabitant_card_number, disabled: true %>
      <% end %>

      <%= f.text_field :name %>
      <%= f.text_field :nickname %>
      <%= f.email_field :email %>
      <%= f.url_field :personal_url %>

      <%= f.number_field :birth_year %>
      <%= f.select :gender,
                      @account.genders_for_select,
                      { include_blank: t(".select_a_gender") },
                      { multiple: false } %>
      <%= f.select :district,
                      @account.districts_for_select,
                      { include_blank: t(".select_a_district") },
                      { multiple: false } %>
      <%= f.text_area :about, rows: 5, help_text: t('decidim.account.about_hint') %>

      <%= f.collection_select(
            :locale,
            @account.organization.available_locales,
            :to_s,
            ->(locale) {locale_name(locale) }
          ) %>
      <p class="help-text"><%= t(".available_locales_helper") %></p>

      <%= f.submit t(".update_account") %>
    </div>
  <% end %>
</div>
