<% add_decidim_page_title(t("inhabitant_card_authorization", scope: "layouts.decidim.user_profile")) %>
<% content_for(:subtitle) { t("inhabitant_card_authorization", scope: "layouts.decidim.user_profile") } %>

<%= render layout: "layouts/decidim/shared/layout_user_profile" do %>
  <% if current_user.authorized_with_inhabitant_card? %>
    <div class="flash warning" data-announcement>
      <div class="flash__message block leading-relaxed">
        <p><%= t("inhabitant_card_authorization_text", scope: "layouts.decidim.user_profile") %></p>
      </div>
    </div>
  <% else %>
    <div class="flash warning" data-announcement>
      <div class="flash__message block leading-relaxed">
        <p><%= t("layouts.decidim.user_profile.inhabitant_card_authorization_info", img: icon("verified-badge-line", class: "author__verified")).html_safe</p> %>
      </div>
    </div>
    <%= decidim_form_for(@form, url: decidim_gdynia.inhabitant_cards_path, as: :inhabitant_card, html: { autocomplete: "off", class: "form-defaults" }) do |f| %>
      <input autocomplete="off" name="hidden" type="password" style="display:none;">
      <div class="form__wrapper pt-0">
        <%= form_required_explanation %>

        <%= f.number_field :card_number, label: t('.card_number') %>
        <%= f.email_field :email, label: t('.email'), help_text: t('.email_hint') %>

        <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
          <%= f.submit t(".authenticate_account"), class: "button button__sm md:button__lg button__secondary mr-auto !ml-0" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
