<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t ".title" %>
      <br>
      <small><%= t ".lead" %></small>
    </h2>
  </div>
  <div class="card-section">
    <div class="row collapse wrap-for-info ">
      <%= cell "decidim/admin_extended/information_m", dummy_information %>
      <%= cell "decidim/admin_extended/information_m", information %>
      <%= cell "decidim/admin_extended/information_m", dummy_information_two %>
    </div>
  </div>
</div>
