<%= decidim_form_for(form, namespace: "registration", as: resource_name, url: registration_path(resource_name), html: { class: "register-form new_user #{visibility_class}", id: "inhabitant-register-form" }) do |f| %>
  <%= invisible_captcha %>
  <div class="card">
    <div class="card__content">
      <%= form_required_explanation %>

      <div class="field">
        <%= f.number_field :card_number, required: true %>
      </div>

      <div class="field">
        <%= f.email_field :email, help_text: t('email_hint', scope: 'decidim.core.extended.authorizations.show') %>
      </div>

      <div class="user-person">
        <div class="field">
          <%= f.text_field :name, help_text: t("decidim.devise.registrations.new.username_help") %>
        </div>
      </div>

      <div class="user-nickname">
        <div class="field">
          <%= f.text_field :nickname, help_text: t("decidim.devise.registrations.new.nickname_help", organization: current_organization.name), prefix: { value: "@", small: 1, large: 1 } %>
        </div>
      </div>

      <div class="field">
        <%= f.password_field :password, help_text: t("decidim.devise.registrations.new.password_help", minimun_characters: NOBSPW.configuration.min_password_length), autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
  </div>

  <div class="card" id="card__tos">
    <div class="card__content">
      <h3><%= t("decidim.devise.registrations.new.tos_title") %></h3>

      <div class="field">
        <%= f.check_box :tos_agreement, label: t("decidim.devise.registrations.new.tos_agreement", link: link_to(t("decidim.devise.registrations.new.terms"), page_path("terms-and-conditions"), target: '_blank')) %>
      </div>
      <div class="field">
        <%= f.check_box :rodo_agreements, label: t("decidim.devise.registrations.new.rodo_agreements", link: link_to(t("decidim.devise.registrations.new.rodo_link"), 'https://bo.gdynia.pl/Polityka_Prywatnosci_serwisu_www.bo.gdynia.pl_.html', target: '_blank')) %>
      </div>
    </div>
  </div>

  <div class="card" id="card__newsletter">
    <div class="card__content">
      <h3><%= t("decidim.devise.registrations.new.newsletter_title") %></h3>
        <div class="field">
          <%= f.check_box :newsletter, label: t("decidim.devise.registrations.new.newsletter"), checked: form.newsletter %>
        </div>
    </div>
  </div>

  <div class="card">
    <div class="card__content">
      <div class="actions">
        <%= f.submit t("devise.registrations.new.sign_up"), class: "button expanded" %>
      </div>
      <%= yield :devise_links %>
    </div>
  </div>
<% end %>
