<section class="extended home-section">
  <div class="wrapper-home">
    <div class="row column text-center">
      <h3 class="heading3"><%= t("decidim.pages.home.extended.what_can_i_do") %></h3>
    </div>
    <div class="row small-up-1 medium-up-3 home-bullets" style="margin-bottom: 20px;">
      <div class="column">
        <div class="home-bullet">
          <div class="home-bullet__icon">
            <%= image_pack_tag "media/images/icon_gears.svg", alt: 'kola zebate', class: 'content-block-icon' %>
          </div>
          <div class="home-bullet__desc">
            <h4 class="heading4"><%= link_to t("decidim.pages.home.extended.processes"), decidim_participatory_processes.participatory_processes_path %></h4>
            <p><%= t("decidim.pages.home.extended.processes_explanation") %></p>
            <p><%= link_to t("decidim.pages.home.extended.processes_link"), decidim_participatory_processes.participatory_processes_path %></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="home-bullet">
          <div class="home-bullet__icon">
            <%= image_pack_tag "media/images/people.svg", alt: 'czworka ludzi', class: 'content-block-icon' %>
          </div>
          <div class="home-bullet__desc">
            <h4 class="heading4"><%= link_to t("decidim.pages.home.extended.assemblies"), decidim_assemblies.assemblies_path %></h4>
            <p><%= t("decidim.pages.home.extended.assemblies_explanation") %></p>
            <p><%= link_to t("decidim.pages.home.extended.assemblies_link"), decidim_assemblies.assemblies_path %></p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="home-bullet">
          <div class="home-bullet__icon">
            <%= image_pack_tag "media/images/conversation_clouds.svg", alt: 'dymki rozmowy', class: 'content-block-icon' %>
          </div>
          <div class="home-bullet__desc">
            <h4 class="heading4"><%= link_to t("decidim.pages.home.extended.help"), decidim.pages_path %></h4>
            <p><%= t("decidim.pages.home.extended.help_explanation") %></p>
            <p><%= link_to t("decidim.pages.home.extended.help_link"), decidim.pages_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
