<!DOCTYPE html>
<html>
<head>
  <title>Decidim surveys extended</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "decidim/surveys_extended/application", media: "all" %>
  <%= javascript_include_tag "decidim/surveys_extended/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
