<div class="user-password"
  data-show-password="<%= t "show_password", scope: "decidim.devise.shared.password_fields" %>"
  data-hide-password="<%= t "hide_password", scope: "decidim.devise.shared.password_fields" %>"
  data-hidden-password="<%= t "hidden_password", scope: "decidim.devise.shared.password_fields" %>"
  data-shown-password="<%= t "shown_password", scope: "decidim.devise.shared.password_fields" %>">
  <%= form.send(:custom_label, :password, t("activemodel.attributes.user.password"), {}) %>

  <% if local_assigns.has_key?(:show_help_text) || local_assigns.has_key?(:user) %>
    <%= form.password_field :password, password_field_options_for(user).merge(class: "password-field-js") %>
  <% else %>
    <%= form.password_field :password, autocomplete: "current-password", required: true, label: false, placeholder: "************", class: "password-field-js" %>
  <% end %>

  <div class="form-error password-field-hint-js" style="display:none"></div>
  <div class="form-error password-field-error-js"></div>

  <div class="password-rules mt-4">
    <strong>Bezpieczne hasło powinno zawierać:</strong>
    <ul id="requirements" role="list">
      <li id="length"><span class="password-rule-result"></span>Minimum 10 znaków<span class="password-rule-result-text show-for-sr"></span></li>
      <li id="lowercase"><span class="password-rule-result"></span>Małą literę<span class="password-rule-result-text show-for-sr"></span></li>
      <li id="uppercase"><span class="password-rule-result"></span>Wielką literę<span class="password-rule-result-text show-for-sr"></span></li>
      <li id="number"><span class="password-rule-result"></span>Cyfrę<span class="password-rule-result-text show-for-sr"></span></li>
      <li id="special"><span class="password-rule-result"></span>Znak specjalny<span class="password-rule-result-text show-for-sr"></span></li>
    </ul>
  </div>

</div>
